.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
}

.teamNames {
  display: flex;
  flex-direction: column;
  gap: 16px;
  user-select: none;

  .newTeamName {
    border: 1px solid #333;
    display: flex;
    input {
      background: transparent;
      outline: none;
      width: 100%;
      padding: 16px;
      border: none;

      color: white;

      &::placeholder {
        font-style: italic;
      }
    }

    .newButton {
      background: transparent;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
      transition: all 0.2s linear;

      &:hover {
        background: lightblue;
        color: black;
        cursor: pointer;
      }
    }
  }
}
