.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
}

.teamNames {
  display: flex;
  flex-direction: column;
  gap: 16px;
  user-select: none;
  width: 100%;
  max-width: 500px;

  .teamWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
  }

  .delete {
    background: transparent;
    color: red;
    height: 90%;
    width: 50px;
    margin-right: 3px;
    transition: all 0.2s linear;
    position: absolute;
    right: 0;
    border: none;

    &:hover {
      background: rgba(255, 0, 0, 0.233);
      cursor: pointer;
    }
  }

  .newTeamName {
    border: 1px solid #333;
    display: flex;
    input {
      background: transparent;
      outline: none;
      width: 100%;
      padding: 16px;
      border: none;

      color: black;

      &::placeholder {
        font-style: italic;
      }
    }

    .newButton {
      background: transparent;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 16px;
      transition: all 0.2s linear;
      border: none;

      &:hover {
        background: lightblue;
        color: black;
        cursor: pointer;
      }
    }
  }
}
